body {background-color:#FFF;}

.formerror{border: 1px solid black; padding:5px;}
.colorBarBlue{background-color:#3CF; padding:5px;}
.colorBarRed{background-color:#F30; padding:5px;}
.colorBarGreen{background-color:#0C0; padding:5px;}
.colorBarPink{background-color:#F09; padding:5px;}
.colorBarNoPlayer{background-color:#ACA; padding:5px;}
