/* General */

body {
    background-color: #FFF;
}

.formerror {
    border: 1px solid black;
    padding: 5px;
}

/* Main elements */

.title, .player, .content, .footer {
    padding: 3px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-bottom: 3px;
}

.content {
    padding-left: 10px;
}

/* Tweak HTML defaults */

h1 {
   padding: 3px;
   margin: 3px;
}

/* Colour styles */

.colorBarBlue { background-color:#3CF; }
.colorBarRed { background-color:#F30; }
.colorBarGreen { background-color:#0C0; }
.colorBarPink { background-color:#F09; }
.colorBarNoPlayer{ background-color:#ACA; }
