body {background-color:#FFF;}

.colorBarBlue{background-color:#0C0; padding-left:5px; padding-top:5px;}
.colorBarRed{background-color:#F30; padding-left:5px; padding-top:5px;}
.colorBarGreen{background-color:#3CF; padding-left:5px; padding-top:5px;}
.colorBarPink{background-color:#F09; padding-left:5px; padding-top:5px;}
