<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{# <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> #}
{# <html> #}
    <head>
        <title>{{title|default:"Enlightenment!"}}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
