<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{title|default:"Enlightenment!"}}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="title {{colour_style}}">
    <h1>
    {% block title %}
    {% endblock %}
    </h1>
    </div>
    {% if player %}
      <div class="playerinfo {{colour_style}}">
      {{ player.first_name|title }} ({{ player.colour|lower }})
      </div>
    {% endif %}
    <div class="content {{colour_style}}">
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer {{colour_style}}">
    {% block footer %}
    {% endblock %}
    </div>
</body>
</html>
