{% extends "base.html"%}

{% block title %}
Find a Friend!
{% endblock %}

{% block content %}
<p>There are currently not enough friends logged into the game.</p>
<p>Make sure there are three friends to play with, or try again later.</p>

<a href="{% url mobigame:play %}"><button type="button">Check</button></a><br/>

<p>check to see if there are now enough players</p>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:signout %}"><button type="button">Sign out</button></a>
{% endblock %}
