{% extends "base.html"%}

{% block content %}
<h2>Find a Friend!</h2>
<p>
There are currently not<br/>
enough friends logged into the game.<br/>
<br/>
Make sure there are three<br/>
friends to play with, or try again later.<br/>
</p>

<div class="{{ player.colour_style }}">
{{ player.first_name }}<br/>
<br/>
{{ player.colour|upper }}<br/>
<br/>
<a href="{% url mobigame:play %}"><button type="button">Check</button></a><br/>
check to see<br/>
if there are now enough players<br/>
<br/><br/>
<a href="{% url mobigame:signout %}"><button type="button">Sign Out</button></a><br/>
Leave the Game
</div>

{% endblock %}
