{% extends "base.html"%}

{% block title %}
Enlightenment ;)
{% endblock %}

{% block content %}
<p>Play the game by entering your name! Become the ENLIGHTENED ONE.</p>

<form action="{% url mobigame:login %}" method="POST">
<div class="{{ colour_style }}">
  {% csrf_token %}
  {{ login_form.as_p }}
  <p><input type="submit" value="Submit" /></p>
</div>
</form>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:scores %}"><button type="button">Enlighted Ones</button></a>
{% endblock %}
