{% extends "base.html"%}

{% block content %}
<h1>Enlightenment ;)</h1>
<p>
Play the game by entering your name!<br/>
Become the ENLIGHTENED ONE
</p>

<form action="">
<div class="{{ first_colour_style }}">
User name: <br/>
<input type="text" name="firstname" value="" /><br/><br/>

{% for colour, desc in colour_options %}
<input name="answer" type="radio" value="{{ colour }}" />{{ desc }}<br/>
{% endfor %}

<br/>
<input name="Submit" type="submit" id="Submit" value="Submit" />
</div>
</form>
{% endblock %}
