{% extends "base.html"%}

{% block content %}
<h1>Enlightenment ;) </h1>
<p>Play the Game by entering your Name! <br/> Become the ENLIGHTENED ONE</p>

<form>
<div class="colorBar4">LEVEL#1<br/><br/>Create User Name: <br/>
<input type="text" name="FirstName" value=" " /><br/><br />
<input name="answer" type="radio" value= "Blue" />Blue<br />

<input type="radio" name="answer" value= "Red" />Red<br />
<input name="answer" type="radio" value= "Green" />Green<br />

<input type="radio" name="answer" value= "Pink" />Pink<br />
<br/><input name="Submit" type="submit" id="Submit" value="Submit" />
</div>
</form>
{% endblock %}
