{% extends "base.html"%}

{% block title %}
ROUND {{ levelno }}
{% endblock %}

{% block content %}
<p>Select & sumbit the correct ANSWER</p>

<h3>Question: {{ question }}</h3>

<form action="{% url mobigame:play %}" method="POST">
{% csrf_token %}
<p><input name="answer" type="radio" value="{{ answer1.pk }}" />A: {{ answer1.text }}</p>
<p>OR</p>
<p><input type="radio" name="answer" value="{{ answer2.pk }}" />B: {{ answer2.text }}</p>
<p><input type="submit" value="Submit" /></p>
</form>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:signout %}"><button type="button">Sign out</button></a>
{% endblock %}
