{% extends "base.html"%}

{% block title %}
Current Enlightened One!
{% endblock %}

{% block content %}
{% if current_winner %}
  <h3>Current ENLIGHTENED ONE:</h3>
    <ul>
      <li><b>{{ current_winner.first_name|title }}</b> ({{ current_winner.colour }})</li>
    </ul>
  <h3>Previous ENLIGHTENED ONES:</h3>
  {% if previous_winners %}
    <ul>
    {% for en_one in previous_winners %}
      <li><b>{{ en_one.first_name|title }}</b> ({{ en_one.colour }})</li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No previous enlightened ones. :(</p>
  {% endif %}
{% else %}
  <p>No enlightened ones. :(</p>
{% endif %}
<br/>
</div>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:login %}"><button type="button">Play!</button></a>
{% endblock %}
