{% extends "base.html"%}

{% block title %}
:'(
{% endblock %}

{% block content %}
<p>Not the brightest bulb in the room?</p>
<p>Second Best aint bad.</p>
<p>Try again, to knock off the enlightened one!</p>

<a href="{% url mobigame:scores %}"><button type="button">Enlighted Ones</button></a><br/>
<p>See a list of the enlightened</p>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:login %}"><button type="button">Play!</button></a>
<a href="{% url mobigame:scores %}"><button type="button">Enlighted Ones</button></a><br/>
{% endblock %}
