{% extends "base.html"%}

{% block title %}
Thank you ;)
{% endblock %}

{% block content %}
<p>
Thanks for trying to play!</br>
Try a little later<br/>
&amp; become the<br/>
ENLIGHTENED ONE
</p>

<form action="{% url mobigame:login %}" method="POST">
<div class="{{ colour_style }}">
  {% csrf_token %}
  {{ login_form.as_p }}
  <br/>
  <input type="submit" value="Submit" />
</div>
</form>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:login %}"><button type="button">Play!</button></a>
<a href="{% url mobigame:scores %}"><button type="button">Enlighted Ones</button></a>
{% endblock %}
