{% extends "base.html"%}

{% block title %}
WINNER! :)
{% endblock %}

{% block content %}
<p><b>{{ winner_msg }}</b></p>
<p>You are our current ENLIGHTENED ONE!</p>
<a href="{% url mobigame:scores %}"><button type="button">Enlighted Ones</button></a><br/>
<p>See a list of the enlightened</p>
{% endblock %}

{% block footer %}
<a href="{% url mobigame:login %}"><button type="button">Play!</button></a>
<a href="{% url mobigame:scores %}"><button type="button">Enlighted Ones</button></a><br/>
{% endblock %}
